*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/attgan16.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/cpaprika8.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/DeepLabV3Int8LUT.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/photo2cartoon.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/style_starry_night8.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/style_transfer16.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/up_anime_noise1_scale2x_model.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/up_anime_noise3_scale2x_model.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/chosoda8.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/style_pointillism8.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/chayao8.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/gender4.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/hayao.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/paprika.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/up_photo_noise1_scale2x_model.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/up_photo_noise3_scale2x_model.mlmodel filter=lfs diff=lfs merge=lfs -text
MagicCamera/Vision/models/warpgan8.mlmodel filter=lfs diff=lfs merge=lfs -text
